.container {
    box-sizing: border-box;

    width: 100%;
    height: 100%;
}

.row,
.col {
    box-sizing: border-box;
    display: flex;
}

.row {
    width: 100%;

    flex-direction: row;
    flex-wrap: wrap;

    margin-bottom: 1rem;
}

.col {
    flex-direction: column;
    flex: 1;
}

.col:nth-child(1) {
    align-items: flex-start;
}

.col:nth-child(2) {
    align-items: flex-start;
    flex: 0 0 5rem;
}

.col:last-child {
    align-items: flex-end;
}

.icon {
    margin-right: 5px;
}

.dayName {
    text-transform: capitalize;
}