.container {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: var(--background-color-default);
}

.container * {
    color: white;
}

.title {
    font-size: 4rem;
}

.text {
    font-family: "Inter", sans-serif;
}

.progressCircular {
    --progress-circle-primary-color: white !important;
}