/*
  Font
*/
@font-face {
  font-family: "Inter";
  src: url('assets/fonts/Inter/Inter-VariableFont_opsz-wght.ttf') format('truetype');
  font-weight: 100 900;
  font-optical-sizing: auto;
  font-style: normal;
}


/*
 root
*/
:root {
  --background-color-default: rgb(113, 175, 226);
  --background-color-overcast: rgb(146, 166, 182);
  --background-color-fog: rgb(171, 179, 185);
  --background-color-drizzle: rgb(87, 104, 118);
  --background-color-freezing: rgb(171, 179, 185);
  --background-color-rain: rgb(87, 104, 118);
  --background-color-snow: rgb(203, 210, 216);
  --background-color-snowgrain: rgb(203, 210, 216);
  --background-color-showers: rgb(87, 104, 118);
  --background-color-snowers: rgb(203, 210, 216);
  --background-color-storm: rgb(61, 73, 84);

  --background-color-layer: rgba(255, 255, 255, 0.5);
}